.not-visible {
    display: none;
}

.ms-n1 {
    margin-left: -0.25rem !important;
  }

.ms-n2 {
    margin-left: -0.5rem !important;
}

.ms-n3 {
    margin-left: -1rem !important;
  }

 .ms-n4 {
    margin-left: -1.5rem !important;
  }

 .ms-n5 {
    margin-left: -3rem !important;
  }