{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container bg-dark bg-gradient text-light shadow rounded  mt-5">

    <div class="d-flex justify-content-start mt-5 pt-4 px-4 pb-4">
        <div class="row w-100">
            <div class="col-10">
                <div class="d-inline">
                    <span class="fs-1">{{ player_info.long_name }}</span>
                </div>
                <div class="d-inline">
                    <img src="{{player_info.club_flag_url}}" class="mx-2 mb-3" width="40px" height="30px">
                </div>
            </div>
            <div class="row ">
                <div class="col-2">
                    <img src="{{player_info.player_face_url}}" class="img-fluid ms-2">
                </div>
                <div class="col-4">
                    <div class="row mt-3 ms-n4">
                        <div class="col-2">
                            <img src="{{player_info.club_logo_url}}" width="50px" height="50px">
                        </div>
                        <div class="col-10 mt-1 ms-n2">
                            <span class="fs-3">{{ player_info.club_name }}</span>
                        </div>
                    </div>
                    <div class="row mt-3 ms-2">
                        <div class="col-5">
                            <span class="fs-5"><b>Contract until:</b> {{player_info.club_contract_valid_until}} </span>
                        </div>
                        <div class="col-3">
                            <span class="fs-5"><b>Age:</b> {{player_info.age}} </span>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row mt-4">
                        <div class="col-5 mt-2">
                            <span class="fs-5"><b>Overall</b></span> 
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light btn-lg ms-3 mb-1" disabled>{{player_info.overall}}</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5 mt-2">
                            <span class="fs-5"><b>Potential</b></span>  
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light btn-lg ms-3 mb-1" disabled>{{player_info.potential}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 ms-4 mt-1">
                    <div class="row mt-4">
                        <span class="fs-4"><b>Positions</b></span>
                    </div>
                    <div class="row mt-2">
                        <div class="col-10">
                            {% for position in positions %}
                            <div class="d-inline">
                            <button type="button" class="btn btn-light mb-1 me-1" disabled>{{position}}</button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        <div class="row w-100 mt-5">
            <div class="col-4 text-light mt-3">
                <div class="card px-1 py-1">
                    <h5 class="card-headr px-3 py-1 bg-dark shadow rounded">Player info </h5>
                    <div class="card-body w-100 bg-light bg-gradient text-dark">
                        <div class="row w-100">
                            <div class="col-6">
                                <span class="fs-6"><b>Height:</b></span>
                            </div>
                            <div class="col-6 text-end">
                                <span class="fs-6 text-end">{{player_info.height_cm}} cm</span>
                            </div>
                        </div>
                        <div class="row w-100 mt-2">
                            <div class="col-6">
                                <span class="fs-6"><b>Weight:</b></span>
                            </div>
                            <div class="col-6 text-end">
                                <span class="fs-6 text-end">{{player_info.weight_kg}} kg</span>
                            </div>
                        </div>
                        <div class="row w-100 mt-2">
                            <div class="col-6">
                                <span class="fs-6"><b>Foot: </b></span>
                            </div>
                            <div class="col-6 text-end">
                                <span class="fs-6 text-end">{{player_info.preferred_foot}}</span>
                            </div>
                        </div>
                        <div class="row w-100 mt-2">
                            <div class="col-6">
                                <span class="fs-6"><b>Birth: </b></span>
                            </div>
                            <div class="col-6 text-end">
                                <span class="fs-6 text-end">{{player_info.dob}}</span>
                            </div>
                        </div>
                    
                        <div class="row w-100 mt-2">
                            <div class="col-6">
                                <span class="fs-6"><b>Age: </b></span>
                            </div>
                            <div class="col-6 text-end">
                                <span class="fs-6 text-end">{{player_info.age}}</span>
                            </div>
                        </div>

                        <div class="row w-100 mt-3">
                            <div class="col-6">
                                <span class="fs-6"><b>Positions: </b></span>
                            </div>
                            <div class="col-6 text-end">
                                <span class="badge position" id="player_position"> {{player_info.club_position}} </span>
                            </div>
                        </div>

                        <div class="row w-100 mt-3">
                            <div class="col-6">
                                <span class="fs-6"><b>Skill moves: </b></span>
                            </div>
                            <div class="col-6 text-end">
                                <input type="hidden" value="{{player_info.skill_moves}}" id="player_skill">
                                <span class="stars" id="skill_stars"></span>
                            </div>
                        </div>

                        <div class="row w-100 mt-3">
                            <div class="col-6">
                                <span class="fs-6"><b>Weak foot: </b></span>
                            </div>
                            <div class="col-6 text-end">
                                <input type="hidden" value="{{player_info.weak_foot}}" id="player_foot">
                                <span class="stars" id="foot_stars"></span>
                            </div>
                        </div>
                        <div class="row w-100 mt-3">
                            <div class="col-6">
                                <span class="fs-6"><b>Value: </b></span>
                            </div>
                            <div class="col-6 text-end">
                                {% comment %} <span>&#8364;</span> {% endcomment %}
                                <span class="fs-6 text-end" id="player_value">{{player_info.value_eur}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        

        
        
        </div>
    </div>

</div>



{% endblock %}